attrs==24.2.0
autobahn==19.11.2
Automat==24.8.1
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
constantly==23.10.4
cryptography==43.0.1
customtkinter==5.2.2
darkdetect==0.8.0
hyperlink==21.0.0
idna==3.8
incremental==24.7.2
kiteconnect==5.0.1
numpy==1.26.4
packaging==24.1
pandas==2.2.2
Pillow==9.4.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pyOpenSSL==24.2.1
python-dateutil==2.9.0.post0
pytz==2024.2
pywin32==306
requests==2.32.3
schedule==1.2.1
service-identity==24.1.0
six==1.16.0
ta==0.10.2
tradingview-ta==3.3.0
Twisted==24.7.0
txaio==23.1.1
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
zope.interface==7.0.3
